@import './node_modules/reset-css/sass/reset';
@import './variables';

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

section.container {
  width: 100%;
  overflow: auto;
  flex-grow: 1;
}

body {
  overflow: hidden;
}

main {
  padding: 20px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;

  article {
    margin: 20px;
  }
}

@media(max-width: $break-phone) {
  main {
    padding: 0px;
    justify-content: center;
  }
}
