@import './node_modules/reset-css/sass/reset';
* {
  box-sizing: border-box;
}

#app {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

section.container {
  overflow: scroll;
  flex-grow: 1;
}

main {
  padding: 20px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  article {
    margin: 20px;
  }
}
