@import './variables';

.sidebar {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: $base-color;
  box-shadow: black 0px 4px 19px 1px;
  color: white;
  position: fixed;
  z-index: 1;

  strong {
    padding: 20px;
    font-weight: bold;
  }

  ul {
    li {
      padding: 20px;
      text-indent: 5px;

      &:hover {
        background: $contrast-color;
        text-indent: 15px;
      }
    }
  }

  .sidehandler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 20px;
    text-align: center;

    span {
      padding: 30px 0;
      border: solid 1px white;
      height: 80px;
    }

    &:hover {
      span {
        background: $contrast-color;
        color: white;
        border: unset;
      }
    }
  }

  .content {
    flex-grow: 1;
    min-width: 0px;
    padding-top: 90px;
    width: 0;
    visibility: hidden;
    transition: min-width 0.5s ease-in-out;

    &.visible {
      min-width: 250px;
      visibility: visible;
    }
  }
}

@media(max-width: $break-phone) {
  .sidebar {
    background: transparent;
    box-shadow: unset;

    .content {
      background: $base-color;
    }

    .sidehandler,
    .sidehandler:hover {
      justify-content: flex-start;
      border: unset;

      span {
        background: $base-color;
        width: 40px;
      }
    }
  }
}
